.container{
    display: grid;
    grid-template: 100px auto 100px / 30fr 70fr;
    height: 100vh;
    row-gap: 10px;
    column-gap: 10px;
    gap: 10px;
}

.box{
    background: gold;
}

.box-1{
    grid-column: 1 / 3;
}